.square {
	width: 10px;
	height: 10px;
	border: 4px solid #AA3B3B;
	background-color: #AA3B3B;
	padding: 9px;
	float: left;
}

table {
	border: 4px solid #AA3B3B;
	width: 960px;
	overflow: auto;
	margin: auto;
	border-spacing: 0px;
}

.hover {
	width: 10px;
	height: 10px;
	border: 4px solid #006699;
	background-color: #006699;
	padding: 9px;
	float: left;
}

button {
	display: block;
	margin: auto;
}