.square {
	/*border: 4px solid #AA3B3B;*/
	background-color: #AA3B3B;
}

table {
	border: 4px solid #AA3B3B;
	margin: auto;
	border-spacing: 0px;
	table-layout: fixed;
}

tbody {
	width: 600px;
	height: 600px;
}

.hover {
	/*border: 4px solid #006699;*/
	background-color: #006699;
}

button {
	display: block;
	margin: auto;
}